<ion-tabs mode="ios">

  <ion-tab-bar slot="bottom">

    <ion-tab-button mode="ios" tab="professors">
      <ion-icon name="ios-people"></ion-icon>
      <ion-label mode="ios">Professors</ion-label>
    </ion-tab-button>

    <ion-tab-button mode="ios" tab="top-professors">
      <ion-icon name="ios-happy"></ion-icon>
      <ion-label mode="ios">Top Professors</ion-label>
    </ion-tab-button>

    <ion-tab-button mode="ios" tab="account">
      <ion-icon name="ios-person"></ion-icon>
      <ion-label mode="ios">Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
