<ion-tabs mode="ios">

  <ion-tab-bar mode="ios" slot="bottom">

    <ion-tab-button mode="ios" tab="qualities">
      <ion-icon name="ios-book"></ion-icon>
      <ion-label mode="ios">Qualities</ion-label>
    </ion-tab-button>


    <ion-tab-button mode="ios" tab="stars">
        <ion-icon name="ios-star"></ion-icon>
        <ion-label mode="ios">Stars</ion-label>
    </ion-tab-button>


    <ion-tab-button mode="ios" tab="stats">
      <ion-icon name="ios-stats"></ion-icon>
      <ion-label mode="ios">Stats</ion-label>
    </ion-tab-button>

    <ion-tab-button mode="ios" tab="account">
      <ion-icon name="ios-person"></ion-icon>
      <ion-label mode="ios">Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
